body {
    background-color: rgb(244, 255, 255);
}

#container {
    display: flex;
}

#calendar {
    display: flex;
    width: 600px;
    height: 600px;
    margin: 5vh;
}

#tasks {
    margin: 5vh;
    width: 50%;

}

#divTasks {
    display: none;
}


#titulo, #comeco, #fim {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
  outline: none;
}

#btnEvent {
    background-color: rgb(17, 2, 63);
    color: beige;
    font-weight: bold;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

#btnAdd {
    background-color: rgb(10, 140, 43);
    color: beige;
    font-weight: bold;
    width: 100px;
    height: 30px;
    cursor: pointer;

    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

ol {
    list-style: none;
}

li {
    margin: 1vh;
}

#showTasks {
    margin: 50px;
}

#tableMostrarTarefas {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  top: 10px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}